<p id="notice"><%= notice %></p>

<h1>お知らせ内容</h1>
<table>
  <thead>
    <tr>
      <th>タイトル</th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Notification', new_notification_path %>
